h1{
	font-family: "Krona One", serif;
	color: #0C640E;
	font-size: 60px;
}



h2{
	font-family: "Orelega One", serif;
	color: #307B0D;
	font-size: 40px;
}

h3{
	font-family: "Work Sans", serif;
	color: #8B1212;
	font-size: 25px;
}


p{
	font-family: "Playfair Display", serif;
	color: #143504;
	font-size: 18px;
}
