h1{
	font-family: "Anton", serif;
	color: #010833;
}


.header{
	font-size: 120px;
}

@media (min-width: 576px) {
	.line1, .line3  {
		font-family: "Anton", sans-serif;
		font-size: 60px;
		color:#010833;
		text-align: center; 
	}
	}

@media (min-width: 576px) {
	.line2  {
		font-family: "Anton", sans-serif;
		font-size: 120px;
		color:#010833;
		text-align: center; 
	}
	}


p{
	font-family: "nunito", serif;
	color: #010833;
	font-size:18px;
}


@media (min-width: 576px) (line-height: 1.75) { .text
	{
		font-family: "Nunito", sans-serif;
		font-size: 18px;
	}	
	}
h2{
	font-family: "anton", serif;
	color: #010833;
	font-size: 30px;
}

@media (min-width: 768px) {.hyphens
	{
		padding-left: 4%;
		padding-right: 4%;
	}	
	}


.hyphens{
	padding-top:5%;
}


.hyphens{
	padding-bottom: 5%;
}

.hyphens{
	margin-top: 5%;
}

.hyphens{
	margin-bottom: 5%;
}

.white-box {
    background-color: white;
    color: black;
    }

h5{
	font-family: "Anton", serif;
	color: #ffa500;
	font-size: 70px;
	letter-spacing: 2.5px;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}


.navy-box {
	background-color: #010833; 
	color: black;
}


h3{
	font-family: "Anton", serif;
	color: #010833;
	font-weight: 200;
	font-size: 16px;
}

h4{
	font-family: "Anton", serif;
	color: #ffa500;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 1.5px;
}

h6{
	font-family: "Anton", serif;
	color: #010833;
	font-weight: 600;
	font-size: 14px;

}

.data{
	font-size: 14px;
}


.orange-box{
	background-color: #fc5f1a;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


